@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Default Table</h5>

        <!-- Default Table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nombre</th>
                    <th scope="col">aula </th>
                    <th scope="col">hora</th>
                    <th scope="col">dia final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Lenguas</td>
                    <td>Aula 1</td>
                    <td>5pm</td>
                    <td>2016-05-25</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>literatura</td>
                    <td>Aula 2</td>
                    <td>3pm</td>
                    <td>2014-12-05</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Matematicas</td>
                    <td>Aula 3 </td>
                    <td>2pm</td>
                    <td>2011-08-12</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Ciencias</td>
                    <td>Aula 4</td>
                    <td>7pm</td>
                    <td>2012-06-11</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Ingles</td>
                    <td>Aula 5</td>
                    <td>4pm</td>
                    <td>2011-04-19</td>
                </tr>
            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
</div>