@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid content-header">

    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@* @Context.Session.GetString("Categoria")!.ToString() *@</h3>
                    <p>Categoría Actual</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="@Url.Action("VerCompras","Servicios")" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>